body {
  font-family: "Cairo", sans-serif;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
  margin: auto;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  padding: 20px;
  border-radius: 16px;
  font-size: 15px;
  overflow: hidden;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 40px;
  color: #92a8e6;
  font-weight: bold;
  text-align: center;
}

.form {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
input,
.submit {
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}
input {
  min-width: calc(100% - 80px);
}
.submit {
  min-width: 80px;
  font-weight: 800;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  color: #ffffff;
}

.task {
  position: relative;
  background-color: #eee;
  padding: 10px 0px 10px 16px;
  margin: 10px 0 10px 0px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}

.delete {
  width: 70px;
  position: absolute;
  right: 14px;
  top: 0px;
  margin-top: 10px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.delete,
.submit {
  transition: 0.3s;
}

.delete:hover,
.submit:hover {
  scale: 1.05;
}

@media (max-width: 768px) {
  .container {
    max-width: 300px;
  }
  input,
  .submit {
    height: 40px;
    font-size: 15px;
  }
  .delete {
    padding: 3px 5px;
    width: 50px;
  }
  .task {
    font-size: 15px;
  }
}

.footer {
  color: #92a8e6;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}
