/* body {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
} */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Cairo", sans-serif;
}
/* Small Screens */
@media (min-width: 768px) {
  container {
    width: 750px;
  }
  input,
  .submit {
    height: 30px;
    font-size: 10px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1 {
  font-size: 50px;
  color: #4158d0;
  font-weight: bold;
  text-align: center;
}
.form {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
input,
.submit {
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}
input {
  min-width: calc(100% - 80px);
}
.submit {
  min-width: 80px;
  color: white;
  font-weight: bold;
  background-color: #4158d0;
  background-image: linear-gradient(130deg, #4158d0 11%, #c850c0 81%);
}

.task {
  position: relative;
  background-color: #ddd;
  padding: 10px 0px 10px 16px;
  margin: 10px 0 10px 0px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}

.delete {
  width: 70px;
  position: absolute;
  right: 14px;
  top: -5px;
  margin-top: 10px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #4158d0;
  background-image: linear-gradient(130deg, #4158d0 11%, #c850c0 81%);
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  input,
  .submit {
    height: 40px;
    font-size: 15px;
  }
  .delete {
    padding: 3px 5px;
  }
}

.footer {
  color: #4158d0;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}
